<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    lang="en"
>
<head th:replace="fragments/header :: header('View all projects')">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div class="container">
    <h1>Projects</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4" th:each="project : ${projects}">
            <div class="card">
                <h5 class="card-header" th:text="${project.name}">Name</h5>
                <div class="card-body">
                    <h6 class="card-title" th:text="${project.user.username}">
                        User</h6>
                    <p class="card-text" th:text="${project.description}">Description</p>
                    <p class="card-text text-muted" th:text="${'Stars count ' + project.stars.size()}">
                        Stars count
                    </p>
                    <form
                        sec:authorize="isAuthenticated()"
                        th:action="@{/star/{id}(id=${project.id})}"
                        method="post"
                    >
                        <button class="btn btn-primary">
                            <i class="fa fa-star"></i>
                            Star
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
